{% extends 'base.html.twig' %}

{% block title %}Application Animaux de monde{% endblock %}

{% block monTitre %}Animaux de monde{% endblock %}
{% block body %}
    <div class="container">
        <h2>Bienvenue dans l'application Animaux de monde</h2>
        <p>Vous pouvez s'inscrire et ajouter les animaux et leur famille respective, gerer les continents et les personne.</p>
    </div>
{% endblock %}
